.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

h1 {
    font-weight: 300;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.Btn {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10rem;
  padding: 1rem 1rem;
  width: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
